.why-container {
  padding: 60px 8%;
  background: #252a3f;
  color: white;
}

.why-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.why-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 25px;
}

.why-card {
  background: white;
  color: #111;
  padding: 28px;
  border-radius: 18px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.why-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}

.why-icon {
  font-size: 45px;
  margin-bottom: 12px;
}

/* RTL Arabic Support */
.rtl {
  direction: rtl;
  text-align: right;
}
